<div>


    <form asp-action="Login" asp-controller="Account">
        <input type="text" name="username" placeholder="UserName"/>
        <input type="text" name="password" placeholder="Password"/>
        <button type="submit">Submit</button>

    </form>
</div>
<div>
    <a asp-action="Register" asp-controller="Account">Register</a>
  
</div>